(
  resources: {
    "bevy_mud::account::UserDb": (
      users: {
        "user": (
          hashed_password: "$2b$04$lgYybBRiqdKRfRjdp26Hc.A/Qqk2InubK1Ick6Jx.ezadCxFAIUwy",
          character: 4294967334,
        ),
      },
    ),
  },
  entities: {
    4294967333: (
      components: {
        "bevy_mud::map::Map": ("default"),
      },
    ),
    4294967334: (
      components: {
        "bevy_mud::character::Character": (),
        "bevy_mud::core::Live": (),
        "bevy_mud::map::MapWidget": (),
        "bevy_mud::map::Render": (
          icon: Some((
            text: "@",
            style: (
              fg: None,
              bg: None,
              add_modifier: (0),
              sub_modifier: (0),
            ),
          )),
          background: None,
        ),
        "bevy_mud::map::Transform": (
          map: "default",
          coords: (
            x: -2,
            y: 3,
          ),
          facing: (0),
        ),
        "bevy_mud::movement::Speed": (
          movement: 3.0,
          rotation: 3.0,
        ),
      },
    ),
    4294967335: (
      components: {
        "bevy_mud::core::Live": (),
        "bevy_mud::map::Render": (
          icon: Some((
            text: "@",
            style: (
              fg: None,
              bg: None,
              add_modifier: (0),
              sub_modifier: (0),
            ),
          )),
          background: Some((
            text: "↖",
            style: (
              fg: None,
              bg: None,
              add_modifier: (0),
              sub_modifier: (0),
            ),
          )),
        ),
        "bevy_mud::map::Transform": (
          map: "default",
          coords: (
            x: 0,
            y: 0,
          ),
          facing: (0),
        ),
      },
    ),
  },
)