(
    components: {
        "bevy_mud::core::Live": (),
        "bevy_mud::map::Transform": (
            map: "default",
            coords: (
                x: 3,
                y: 2,
            ),
            facing: (0),
        ),
        "bevy_mud::map::Render": (
          icon: Some((
            text: "B",
            style: (
              fg: None,
              bg: None,
              add_modifier: (0),
              sub_modifier: (0),
            ),
          )),
          background: Some((
            text: "~",
            style: (
              fg: None,
              bg: None,
              add_modifier: (0),
              sub_modifier: (0),
            ),
          )),
        ),
        "bevy_hierarchy::components::children::Children": ([
            4294967296,
        ])
    },
    entities: {
        4294967297: (
            components: {
                "bevy_mud::savestate::entity::Save": ("entity2.ron"),
                "bevy_hierarchy::components::parent::Parent": (4294967296),
            },
        ),
        4294967296: (
            components: {
                "bevy_hierarchy::components::children::Children": ([
                    4294967297,
                ]),
                "bevy_mud::map::Transform": (
                    map: "default",
                    coords: (
                        x: 6,
                        y: 9,
                    ),
                    facing: (0),
                ),
                "bevy_hierarchy::components::parent::Parent": (8589934591),
                "bevy_mud::core::Live": (),
            },
        ),
    },
)
